<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="author" content="mrcocoball">
  <title>광고 관리 페이지</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

<header id="header">
  헤더 삽입부
  <hr>
</header>

<main class="d-flex flex-nowrap">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="min-height: 900px; width: 280px;">
    <a href="/" class="d-flex align-items-center mb-0 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="10">
        <use xlink:href="#bootstrap"/>
      </svg>
      <span class="fs-4"></span>
    </a>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/agents" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#home"/>
          </svg>
          에이전트 관리
        </a>
      </li>
      <li>
        <a href="/agentGroups" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#speedometer2"/>
          </svg>
          에이전트 그룹 관리
        </a>
      </li>
      <li>
        <a href="/clients" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#table"/>
          </svg>
          광고주 관리
        </a>
      </li>
      <li>
        <a href="/manage" class="nav-link active" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#grid"/>
          </svg>
          광고 관리
        </a>
      </li>
      <li>
        <a href="/dashboard" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#people-circle"/>
          </svg>
          대시보드
        </a>
      </li>
  </div>

  <div class="container">
    <h1> 광고 관리 페이지 </h1>
    <div class="row">
      <div class="card card-margin search-form">
        <div class="card-body p-0">
          <form action="/manage" method="get">
            <div class="row">
              <div class="col-12">
                <div class="row no-gutters">
                  <div class="col-lg-3">
                    <label for="search-type" hidden>검색 유형</label>
                    <select class="form-control" id="search-type" name="searchType">
                      <option>광고주 ID</option>
                      <option>광고주명</option>
                    </select>
                  </div>
                  <div class="col-lg-8">
                    <label for="search-value" hidden>검색어</label>
                    <input type="text" placeholder="검색어..." class="form-control" id="search-value" name="searchValue">
                  </div>
                  <div class="col-lg-1">
                    <button type="submit" class="btn btn-base">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                           class="feather feather-search">
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="create-btn d-grid gap-2 justify-content-md">
        <form id="statistics-date-form" method="get">
          <div class="date-form">
            <input type="date" class="form-control" id="start-date" name="startDate", min="2020-01-01" />
          </div>
          <div class="date-form" >
            <input type="date" class="form-control" id="last-date" name="lastDate" />
          </div>
            <button type="submit" class="stats-btn btn btn-primary" role="button" id="statistics_type_custom">통계 확인</button>
        </form>
        <a class="stats-btn btn btn-primary" role="button" id="statistics_type_week">최근 7일간 통계</a>
        <a class="stats-btn btn btn-primary" role="button" id="statistics_type_month">최근 30일간 통계</a>
        <a class="stats-btn btn btn-primary" role="button" id="get-report">실적 보고서</a>
     		<a class="stats-btn btn btn-primary" role="button" id="get-sReport">소진액 보고서</a>
      </div>
      <table class="table" id="client-spend-statistics-info">
        <thead>
        <tr>
          <th class="date" style="width: 125px;"><a>조회 기간</a></th>
          <th class="spend" style="width: 125px;"><a>총 소진액</a></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="date"><a>2022-09-24 ~ 2022-10-24</a></td>
          <td class="spend"><a>20000</a></td>
        </tr>
        </tbody>
      </table>
      <table class="table" id="client-table">
        <thead>
        <tr>
          <th class="user-id col-xs" style="width: 200px;"><a>광고주 ID</a></th>
          <th class="nickname col-xs" style="width: 200px;"><a>광고주명</a></th>
          <th class="category col-xs" style="width: 200px;"><a>업종</a></th>
          <th class="agent-name col-xs" style="width: 300px;"><a>담당 에이전트</a></th>
          <th class="client-manage col-xs"><a></a></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="user-id"><a>client1</a></td>
          <td class="nickname">코코볼자동차</td>
          <td class="category">자동차</td>
          <td class="agent-name">김코코볼</td>
          <td class="button"><a class="btn btn-primary" role="button" id="client-manage">광고 관리</a></td>
        </tr>
      </table>
      <nav id="pagination" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    // date 포맷 'YYYY-MM-DD' 형식으로 변경
    function dateFormat(date) {
        var dateFormat = date.getFullYear() +
            '-' + ((date.getMonth() + 1) < 9 ? "0" + (date.getMonth() + 1) : (date.getMonth() + 1)) +
            '-' + ((date.getDate()) < 9 ? "0" + (date.getDate()) : (date.getDate()));
        return dateFormat;
    }

    // 최근 ~일 통계 버튼 관련 동작
    $(function () {

        $('#statistics_type_week').click(function () { // 클릭 감지

            var now = new Date();
            var now2 = new Date();
            var dayBeforeSeven = new Date(now.setDate(now.getDate()-7));
            var dayBeforeOne = new Date(now2.setDate(now2.getDate()-1));
            var startDate = dateFormat(dayBeforeSeven);
            var lastDate = dateFormat(dayBeforeOne);

            $('#start-date').val(startDate);
            $('#last-date').val(lastDate);

            $('#statistics-date-form').submit();

        });

    });

    // 최근 ~일 통계 버튼 관련 동작
    $(function () {

        $('#statistics_type_month').click(function () { // 클릭 감지

            var now = new Date();
            var now2 = new Date();
            var dayBeforeThirty = new Date(now.setDate(now.getDate()-30));
            var dayBeforeOne = new Date(now2.setDate(now2.getDate()-1));
            var startDate = dateFormat(dayBeforeThirty);
            var lastDate = dateFormat(dayBeforeOne);

            $('#start-date').val(startDate);
            $('#last-date').val(lastDate);

            $('#statistics-date-form').submit();

        });

    });


    /*]]>*/

</script>

</body>