@charset "utf-8";

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 15px;
}

.justify-content-md-between {
    justify-content: space-between !important;
}

.justify-content-md-reverse {
    justify-content: space-between !important;
    flex-direction: row-reverse;
}

.container {
    width: 1080px;
    min-width: 1080px;
    max-width: none !important;
}

.container > svg {
    background-color: #212529;
}

.container > h1 {
    margin-bottom: 10px;
}

.container > h2 {
    margin-bottom: 20px;
}

.container > header > h1 {
    margin-bottom: 10px;
}

.container > header > h2 {
    margin-bottom: 20px;
}

.row > h1 {
    margin-bottom: 30px;
}

.table {
    margin-top: 20px;
}

main {
    min-width: 1536px;
    max-width: 1536px;
}

#agent-table > thead a {
    text-decoration: none;
    color: black;
}

#agentgroup-table > thead a {
    text-decoration: none;
    color: black;
}

#client-table > thead a {
    text-decoration: none;
    color: black;
}

#campaign-table > thead a {
    text-decoration: none;
    color: black;
}

#creative-table > thead a {
    text-decoration: none;
    color: black;
}

#statistics-info > tbody {
    font-size: 13px
}

#statistics-table > tbody {
    font-size: 11px
}

#dashboard-statistics-info > tbody {
    font-size: 12px;
    height: 85%;
}

.create-btn {
    display: flex !important;
}

.date-form {
    display: flex !important;
    width: 140px;
    margin-right: 20px;
    margin-left: 0px;
}

#statistics-date-form {
    display: flex !important;
}

th, td {
    vertical-align: middle;
}

.stats-btn {
    width: fit-content;
    margin-right: 10px;
}

.row.right {
    flex-direction: row-reverse;
}

div {
    overflow: hidden;
    height: auto;
}

.nav-item dropdown {
    margin-right: 10px;
}

#myChart {
    margin-top: 20px;
}

#performance {
    position: absolute;
    left: 1330px;
    width: 90px;
    height: 36px;
}

.dropdown-menu > li {
    font-size: 10px;
}

#client-table > tbody {
    height: 18px;
}

.create-agent-group-btn {
    flex-direction: row-reverse;
    display: flex !important;
}