@charset "utf-8";

h1 {
    font-size: 40px;
}

.justify-content-md-between {
    justify-content: space-between !important;
}

.container {
    width: 1080px;
    min-width: 1080px;
    max-width: none !important;
}

.container > svg {
    background-color: #212529;
}

.container > h1 {
    margin-bottom: 30px;
}

.container > header > h1 {
    margin-bottom: 30px;
}

.table {
    margin-top: 20px;
}

main {
    min-width: 1536px;
    max-width: 1536px;
}

#agent-table > thead a {
    text-decoration: none;
    color: black;
}

#agentgroup-table > thead a {
    text-decoration: none;
    color: black;
}

#client-table > thead a {
    text-decoration: none;
    color: black;
}

#campaign-table > thead a {
    text-decoration: none;
    color: black;
}

#creative-table > thead a {
    text-decoration: none;
    color: black;
}

.create-btn {
    display: flex !important;
    flex-direction: row-reverse;
}

th, td {
    vertical-align: middle;
}

.stats-btn {
    width: fit-content;
    margin-right: 10px;
}

.row.right {
    flex-direction: row-reverse;
}

div {
    overflow: hidden;
    height: auto;
}